# Evitar que el entorno virtual venv se suba al repositorio
/venv/
venv

# Evitar que archivos de entorno se suban
.env

# Python bytecode files
__pycache__/
*.pyc

# Configuración de IDEs como VSCode o PyCharm
.vscode/
.idea/

# Logs y archivos temporales
*.log
*.tmp
*.bak
*.txt
